# Title: Project ML:  Fraud Detection for Online Transactions

##### The project follow following steps 
1) Data Collection  
2) Data Cleaning and Preprocessing
3) Visualize the Data  
4) Split the Data  
5) Label encoding  
6) Model Training  
7) Model Evaluation  
8) Optimize the Model  
9) Web Application Development  
10) Deployment and Group Presentation

## 1) Data Collection

https://www.kaggle.com/competitions/ieee-fraud-detection/data

## 2) Data Cleaning and Preprocessing

#### Step 1: Load required libraries and data

In [1]:
# Import dependencies
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [2]:
# Load the data
file_path1 = Path("Resources/test_identity.csv")
file_path2 = Path("Resources/test_transaction.csv")
file_path3 = Path("Resources/train_identity.csv")
file_path4 = Path("Resources/train_transaction.csv")

In [3]:
# Read the data
test_identity = pd.read_csv(file_path1)
test_transaction = pd.read_csv(file_path2)
train_identity = pd.read_csv(file_path3)
train_transaction = pd.read_csv(file_path4)

### Note: 

**The dataset contains information about the identity and transactions made by the individuals in train and test set

#### Step 2: Exploring the Data

In [4]:
# get shape of the data
print("test_identity Shape: ", test_identity.shape)
print("test_transaction Shape: ", test_transaction.shape)
print("train_identity Shape: ", train_identity.shape)
print("train_transaction Shape: ", train_transaction.shape)

test_identity Shape:  (141907, 41)
test_transaction Shape:  (506691, 393)
train_identity Shape:  (144233, 41)
train_transaction Shape:  (590540, 394)

In [5]:
# print first two rows of each dataset
print(test_identity.head())
print(test_transaction.head())
print(train_identity.head())
print(train_transaction.head(2))

   TransactionID  id-01     id-02  id-03  id-04  id-05  id-06  id-07  id-08  \
0        3663586  -45.0  280290.0    NaN    NaN    0.0    0.0    NaN    NaN
1        3663588    0.0    3579.0    0.0    0.0    0.0    0.0    NaN    NaN
2        3663597   -5.0  185210.0    NaN    NaN    1.0    0.0    NaN    NaN
3        3663601  -45.0  252944.0    0.0    0.0    0.0    0.0    NaN    NaN
4        3663602  -95.0  328680.0    NaN    NaN    7.0  -33.0    NaN    NaN

   id-09  ...                    id-31  id-32     id-33           id-34  \
0    NaN  ...  chrome 67.0 for android    NaN       NaN             NaN
1    0.0  ...  chrome 67.0 for android   24.0  1280x720  match_status:2
2    NaN  ...       ie 11.0 for tablet    NaN       NaN             NaN
3    0.0  ...  chrome 67.0 for android    NaN       NaN             NaN
4    NaN  ...  chrome 67.0 for android    NaN       NaN             NaN

   id-35 id-36 id-37  id-38  DeviceType                   DeviceInfo
0      F     F     T      F      mobile  MYA-L13 Build/HUAWEIMYA-L13
1      T     F     T      T      mobile         LGLS676 Build/MXB48T
2      F     T     T      F     desktop                  Trident/7.0
3      F     F     T      F      mobile  MYA-L13 Build/HUAWEIMYA-L13
4      F     F     T      F      mobile         SM-G9650 Build/R16NW

[5 rows x 41 columns]
   TransactionID  TransactionDT  TransactionAmt ProductCD  card1  card2  \
0        3663549       18403224           31.95         W  10409  111.0
1        3663550       18403263           49.00         W   4272  111.0
2        3663551       18403310          171.00         W   4476  574.0
3        3663552       18403310          284.95         W  10989  360.0
4        3663553       18403317           67.95         W  18018  452.0

   card3       card4  card5  card6  ...  V330  V331  V332  V333 V334 V335  \
0  150.0        visa  226.0  debit  ...   NaN   NaN   NaN   NaN  NaN  NaN
1  150.0        visa  226.0  debit  ...   NaN   NaN   NaN   NaN  NaN  NaN
2  150.0        visa  226.0  debit  ...   NaN   NaN   NaN   NaN  NaN  NaN
3  150.0        visa  166.0  debit  ...   NaN   NaN   NaN   NaN  NaN  NaN
4  150.0  mastercard  117.0  debit  ...   NaN   NaN   NaN   NaN  NaN  NaN

   V336  V337  V338  V339
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN

[5 rows x 393 columns]
   TransactionID  id_01     id_02  id_03  id_04  id_05  id_06  id_07  id_08  \
0        2987004    0.0   70787.0    NaN    NaN    NaN    NaN    NaN    NaN
1        2987008   -5.0   98945.0    NaN    NaN    0.0   -5.0    NaN    NaN
2        2987010   -5.0  191631.0    0.0    0.0    0.0    0.0    NaN    NaN
3        2987011   -5.0  221832.0    NaN    NaN    0.0   -6.0    NaN    NaN
4        2987016    0.0    7460.0    0.0    0.0    1.0    0.0    NaN    NaN

   id_09  ...                id_31  id_32      id_33           id_34  id_35  \
0    NaN  ...  samsung browser 6.2   32.0  2220x1080  match_status:2      T
1    NaN  ...   mobile safari 11.0   32.0   1334x750  match_status:1      T
2    0.0  ...          chrome 62.0    NaN        NaN             NaN      F
3    NaN  ...          chrome 62.0    NaN        NaN             NaN      F
4    0.0  ...          chrome 62.0   24.0   1280x800  match_status:2      T

  id_36 id_37  id_38  DeviceType                     DeviceInfo
0     F     T      T      mobile  SAMSUNG SM-G892A Build/NRD90M
1     F     F      T      mobile                     iOS Device
2     F     T      T     desktop                        Windows
3     F     T      T     desktop                            NaN
4     F     T      T     desktop                          MacOS

[5 rows x 41 columns]
   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0        2987000        0          86400            68.5         W  13926
1        2987001        0          86401            29.0         W   2755

   card2  card3       card4  card5  ... V330  V331  V332  V333  V334 V335  \
0    NaN  150.0    discover  142.0  ...  NaN   NaN   NaN   NaN   NaN  NaN
1  404.0  150.0  mastercard  102.0  ...  NaN   NaN   NaN   NaN   NaN  NaN

  V336  V337  V338  V339
0  NaN   NaN   NaN   NaN
1  NaN   NaN   NaN   NaN

[2 rows x 394 columns]

In [6]:
# get information about the data
print(test_identity.info())
print(test_transaction.info())
print(train_identity.info())
print(train_transaction.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  141907 non-null  int64
 1   id-01          141907 non-null  float64
 2   id-02          136976 non-null  float64
 3   id-03          66481 non-null   float64
 4   id-04          66481 non-null   float64
 5   id-05          134750 non-null  float64
 6   id-06          134750 non-null  float64
 7   id-07          5059 non-null    float64
 8   id-08          5059 non-null    float64
 9   id-09          74338 non-null   float64
 10  id-10          74338 non-null   float64
 11  id-11          136778 non-null  float64
 12  id-12          141907 non-null  object
 13  id-13          130286 non-null  float64
 14  id-14          71357 non-null   float64
 15  id-15          136977 non-null  object
 16  id-16          125747 non-null  object
 17  id-17          135966 non-null  float64
 18  id-18          50875 non-null   float64
 19  id-19          135906 non-null  float64
 20  id-20          135633 non-null  float64
 21  id-21          5059 non-null    float64
 22  id-22          5062 non-null    float64
 23  id-23          5062 non-null    object
 24  id-24          4740 non-null    float64
 25  id-25          5039 non-null    float64
 26  id-26          5047 non-null    float64
 27  id-27          5062 non-null    object
 28  id-28          136778 non-null  object
 29  id-29          136778 non-null  object
 30  id-30          70659 non-null   object
 31  id-31          136625 non-null  object
 32  id-32          70671 non-null   float64
 33  id-33          70671 non-null   object
 34  id-34          72175 non-null   object
 35  id-35          136977 non-null  object
 36  id-36          136977 non-null  object
 37  id-37          136977 non-null  object
 38  id-38          136977 non-null  object
 39  DeviceType     136931 non-null  object
 40  DeviceInfo     115057 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 44.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506691 entries, 0 to 506690
Columns: 393 entries, TransactionID to V339
dtypes: float64(376), int64(3), object(14)
memory usage: 1.5+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  144233 non-null  int64
 1   id_01          144233 non-null  float64
 2   id_02          140872 non-null  float64
 3   id_03          66324 non-null   float64
 4   id_04          66324 non-null   float64
 5   id_05          136865 non-null  float64
 6   id_06          136865 non-null  float64
 7   id_07          5155 non-null    float64
 8   id_08          5155 non-null    float64
 9   id_09          74926 non-null   float64
 10  id_10          74926 non-null   float64
 11  id_11          140978 non-null  float64
 12  id_12          144233 non-null  object
 13  id_13          127320 non-null  float64
 14  id_14          80044 non-null   float64
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_17          139369 non-null  float64
 18  id_18          45113 non-null   float64
 19  id_19          139318 non-null  float64
 20  id_20          139261 non-null  float64
 21  id_21          5159 non-null    float64
 22  id_22          5169 non-null    float64
 23  id_23          5169 non-null    object
 24  id_24          4747 non-null    float64
 25  id_25          5132 non-null    float64
 26  id_26          5163 non-null    float64
 27  id_27          5169 non-null    object
 28  id_28          140978 non-null  object
 29  id_29          140978 non-null  object
 30  id_30          77565 non-null   object
 31  id_31          140282 non-null  object
 32  id_32          77586 non-null   float64
 33  id_33          73289 non-null   object
 34  id_34          77805 non-null   object
 35  id_35          140985 non-null  object
 36  id_36          140985 non-null  object
 37  id_37          140985 non-null  object
 38  id_38          140985 non-null  object
 39  DeviceType     140810 non-null  object
 40  DeviceInfo     118666 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Columns: 394 entries, TransactionID to V339
dtypes: float64(376), int64(4), object(14)
memory usage: 1.7+ GB
None

### Note:  

**The train and test datasets have a column `TransactionID`, which can be used as the unique identifier for each transaction.

**The transaction files contain information such as transaction amount, time, and card information, while the identity files contain information such as device type, device info, and several ID columns.**

**The train dataset has a target column called `isFraud`.**

In [7]:
# get descriptive statistics for each dataset
print(test_identity.describe())
print(test_transaction.describe())
print(train_identity.describe())
print(train_transaction.describe())

       TransactionID          id-01          id-02         id-03  \
count   1.419070e+05  141907.000000  136976.000000  66481.000000
mean    3.972166e+06     -11.325734  192658.729909      0.053008
std     1.469966e+05      14.508520  182613.277215      0.684551
min     3.663586e+06    -100.000000       2.000000    -12.000000
25%     3.859268e+06     -12.500000   63339.500000      0.000000
50%     4.001774e+06      -5.000000  133189.500000      0.000000
75%     4.105284e+06      -5.000000  265717.500000      0.000000
max     4.170239e+06       0.000000  999869.000000     11.000000

              id-04          id-05          id-06        id-07        id-08  \
count  66481.000000  134750.000000  134750.000000  5059.000000  5059.000000
mean      -0.087454       1.246033      -6.803829    12.493180   -36.577782
std        0.840351       5.071394      15.921457    11.678206    25.544185
min      -19.000000     -81.000000    -100.000000   -41.000000  -100.000000
25%        0.000000       0.000000      -6.000000     3.000000   -46.000000
50%        0.000000       0.000000       0.000000    12.000000   -33.000000
75%        0.000000       1.000000       0.000000    21.000000   -23.000000
max        0.000000      52.000000       0.000000    59.000000     0.000000

              id-09  ...          id-17         id-18          id-19  \
count  74338.000000  ...  135966.000000  50875.000000  135906.000000
mean       0.076219  ...     191.070341     14.795735     350.122982
std        1.009687  ...      30.749535      2.318496     139.140824
min      -32.000000  ...     100.000000     11.000000     100.000000
25%        0.000000  ...     166.000000     13.000000     266.000000
50%        0.000000  ...     166.000000     15.000000     321.000000
75%        0.000000  ...     225.000000     15.000000     427.000000
max       16.000000  ...     228.000000     29.000000     670.000000

               id-20        id-21        id-22        id-24        id-25  \
count  135633.000000  5059.000000  5062.000000  4740.000000  5039.000000
mean      408.886230   507.727021    15.336823    13.166667   332.043064
std       158.971756   227.371061     5.618032     3.222440    86.356683
min       100.000000   100.000000    11.000000    10.000000   100.000000
25%       256.000000   252.000000    14.000000    11.000000   321.000000
50%       484.000000   576.000000    14.000000    11.000000   321.000000
75%       549.000000   711.000000    14.000000    15.000000   355.000000
max       660.000000   854.000000    44.000000    26.000000   549.000000

             id-26         id-32
count  5047.000000  70671.000000
mean    152.752923     26.217939
std      31.916995      3.601046
min     100.000000      8.000000
25%     137.000000     24.000000
50%     147.000000     24.000000
75%     182.000000     32.000000
max     216.000000     48.000000

[8 rows x 24 columns]
       TransactionID  TransactionDT  TransactionAmt          card1  \
count   5.066910e+05   5.066910e+05   506691.000000  506691.000000
mean    3.916894e+06   2.692994e+07      134.725568    9957.222175
std     1.462692e+05   4.756507e+06      245.779822    4884.960969
min     3.663549e+06   1.840322e+07        0.018000    1001.000000
25%     3.790222e+06   2.277154e+07       40.000000    6019.000000
50%     3.916894e+06   2.720466e+07       67.950000    9803.000000
75%     4.043566e+06   3.134856e+07      125.000000   14276.000000
max     4.170239e+06   3.421434e+07    10270.000000   18397.000000

               card2          card3          card5          addr1  \
count  498037.000000  503689.000000  502144.000000  441082.000000
mean      363.735379     153.543409     200.162975     291.846514
std       158.688653      12.443013      40.562461     102.062730
min       100.000000     100.000000     100.000000     100.000000
25%       207.000000     150.000000     166.000000     204.000000
50%       369.000000     150.000000     226.000000     299.000000
75%       512.000000     150.000000     226.000000     330.000000
max       600.000000     232.000000     237.000000     540.000000

               addr2          dist1  ...          V330          V331  \
count  441082.000000  215474.000000  ...  76431.000000  7.643100e+04
mean       86.723412      87.065270  ...      0.309900  3.151286e+02
std         2.987328     314.131694  ...      2.632181  9.494045e+03
min        10.000000       0.000000  ...      0.000000  0.000000e+00
25%        87.000000       3.000000  ...      0.000000  0.000000e+00
50%        87.000000       8.000000  ...      0.000000  0.000000e+00
75%        87.000000      20.000000  ...      0.000000  0.000000e+00
max       102.000000    8081.000000  ...    106.000000  1.040658e+06

               V332          V333          V334          V335          V336  \
count  7.643100e+04  7.643100e+04  76431.000000  76431.000000  76431.000000
mean   4.404643e+02  3.811021e+02     24.708030     58.339468     35.485643
std    1.064843e+04  1.039556e+04    842.913287    990.361078    904.093921
min    0.000000e+00  0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00  0.000000e+00      0.000000      0.000000      0.000000
50%    0.000000e+00  0.000000e+00      0.000000      0.000000      0.000000
75%    0.000000e+00  0.000000e+00      0.000000      0.000000      0.000000
max    1.040658e+06  1.040658e+06  64800.000000  64800.000000  64800.000000

                V337           V338           V339
count   76431.000000   76431.000000   76431.000000
mean       99.058760     155.578153     139.814706
std      2436.074522    4544.303974    4493.728267
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000
max    375000.000000  612500.000000  612500.000000

[8 rows x 379 columns]
       TransactionID          id_01          id_02         id_03  \
count   1.442330e+05  144233.000000  140872.000000  66324.000000
mean    3.236329e+06     -10.170502  174716.584708      0.060189
std     1.788496e+05      14.347949  159651.816856      0.598231
min     2.987004e+06    -100.000000       1.000000    -13.000000
25%     3.077142e+06     -10.000000   67992.000000      0.000000
50%     3.198818e+06      -5.000000  125800.500000      0.000000
75%     3.392923e+06      -5.000000  228749.000000      0.000000
max     3.577534e+06       0.000000  999595.000000     10.000000

              id_04          id_05          id_06        id_07        id_08  \
count  66324.000000  136865.000000  136865.000000  5155.000000  5155.000000
mean      -0.058938       1.615585      -6.698710    13.285354   -38.600388
std        0.701015       5.249856      16.491104    11.384207    26.084899
min      -28.000000     -72.000000    -100.000000   -46.000000  -100.000000
25%        0.000000       0.000000      -6.000000     5.000000   -48.000000
50%        0.000000       0.000000       0.000000    14.000000   -34.000000
75%        0.000000       1.000000       0.000000    22.000000   -23.000000
max        0.000000      52.000000       0.000000    61.000000     0.000000

              id_09  ...          id_17         id_18          id_19  \
count  74926.000000  ...  139369.000000  45113.000000  139318.000000
mean       0.091023  ...     189.451377     14.237337     353.128174
std        0.983842  ...      30.375360      1.561302     141.095343
min      -36.000000  ...     100.000000     10.000000     100.000000
25%        0.000000  ...     166.000000     13.000000     266.000000
50%        0.000000  ...     166.000000     15.000000     341.000000
75%        0.000000  ...     225.000000     15.000000     427.000000
max       25.000000  ...     229.000000     29.000000     671.000000

               id_20        id_21        id_22        id_24        id_25  \
count  139261.000000  5159.000000  5169.000000  4747.000000  5132.000000
mean      403.882666   368.269820    16.002708    12.800927   329.608924
std       152.160327   198.847038     6.897665     2.372447    97.461089
min       100.000000   100.000000    10.000000    11.000000   100.000000
25%       256.000000   252.000000    14.000000    11.000000   321.000000
50%       472.000000   252.000000    14.000000    11.000000   321.000000
75%       533.000000   486.500000    14.000000    15.000000   371.000000
max       661.000000   854.000000    44.000000    26.000000   548.000000

             id_26         id_32
count  5163.000000  77586.000000
mean    149.070308     26.508597
std      32.101995      3.737502
min     100.000000      0.000000
25%     119.000000     24.000000
50%     149.000000     24.000000
75%     169.000000     32.000000
max     216.000000     32.000000

[8 rows x 24 columns]

       TransactionID        isFraud  TransactionDT  TransactionAmt  \
count   5.905400e+05  590540.000000   5.905400e+05   590540.000000
mean    3.282270e+06       0.034990   7.372311e+06      135.027176
std     1.704744e+05       0.183755   4.617224e+06      239.162522
min     2.987000e+06       0.000000   8.640000e+04        0.251000
25%     3.134635e+06       0.000000   3.027058e+06       43.321000
50%     3.282270e+06       0.000000   7.306528e+06       68.769000
75%     3.429904e+06       0.000000   1.124662e+07      125.000000
max     3.577539e+06       1.000000   1.581113e+07    31937.391000

               card1          card2          card3          card5  \
count  590540.000000  581607.000000  588975.000000  586281.000000
mean     9898.734658     362.555488     153.194925     199.278897
std      4901.170153     157.793246      11.336444      41.244453
min      1000.000000     100.000000     100.000000     100.000000
25%      6019.000000     214.000000     150.000000     166.000000
50%      9678.000000     361.000000     150.000000     226.000000
75%     14184.000000     512.000000     150.000000     226.000000
max     18396.000000     600.000000     231.000000     237.000000

               addr1          addr2  ...          V330           V331  \
count  524834.000000  524834.000000  ...  82351.000000   82351.000000
mean      290.733794      86.800630  ...      0.775874     721.741883
std       101.741072       2.690623  ...      4.727971    6217.223583
min       100.000000      10.000000  ...      0.000000       0.000000
25%       204.000000      87.000000  ...      0.000000       0.000000
50%       299.000000      87.000000  ...      0.000000       0.000000
75%       330.000000      87.000000  ...      0.000000       0.000000
max       540.000000     102.000000  ...     55.000000  160000.000000

                V332           V333          V334         V335          V336  \
count   82351.000000   82351.000000  82351.000000  82351.00000  82351.000000
mean     1375.783644    1014.622782      9.807015     59.16455     28.530903
std     11169.275702    7955.735482    243.861391    387.62948    274.576920
min         0.000000       0.000000      0.000000      0.00000      0.000000
25%         0.000000       0.000000      0.000000      0.00000      0.000000
50%         0.000000       0.000000      0.000000      0.00000      0.000000
75%        25.000000       0.000000      0.000000      0.00000      0.000000
max    160000.000000  160000.000000  55125.000000  55125.00000  55125.000000

                V337           V338           V339
count   82351.000000   82351.000000   82351.000000
mean       55.352422     151.160542     100.700882
std       668.486833    1095.034387     814.946722
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000
max    104060.000000  104060.000000  104060.000000

[8 rows x 380 columns]

#### Step 3:  Duplicate  Values:

In [8]:
# Check for Duplicate Values:
test_identity.duplicated().sum()
test_transaction.duplicated().sum()
train_identity.duplicated().sum()
train_transaction.duplicated().sum()

0

#### Step 4:Merge data

In [9]:
# Merge identity and transaction datasets
train = train_transaction.merge(train_identity, on="TransactionID", how="left")
test = test_transaction.merge(test_identity, on="TransactionID", how="left")

In [10]:
# Check the shape of the merged data
print("train_data Shape: ", train.shape)
print("test_data Shape: ", test.shape)

train_data Shape:  (590540, 434)
test_data Shape:  (506691, 433)

In [11]:
# Check for missing values in train and test data
missing_train = train.isnull().sum().sort_values(ascending=False)
missing_test = test.isnull().sum().sort_values(ascending=False)

In [12]:
# Display the percentage of missing values in each column
print("Missing values in train (%):")
print((missing_train / len(train)) * 100)
print("\nMissing values in test_data (%):")
print((missing_test / len(test)) * 100)

Missing values in train (%):
id_24            99.196159
id_25            99.130965
id_07            99.127070
id_08            99.127070
id_21            99.126393
                   ...
C11               0.000000
C12               0.000000
C13               0.000000
C14               0.000000
TransactionID     0.000000
Length: 434, dtype: float64

Missing values in test_data (%):
id-24            99.064519
id-25            99.005508
id-26            99.003929
id-07            99.001561
id-08            99.001561
                   ...
V111              0.000000
V112              0.000000
V113              0.000000
V114              0.000000
TransactionID     0.000000
Length: 433, dtype: float64

### Note:
**drop columns with a missing value percentage greater than a certain threshold (let's say 50%)

#### Step 5: Handle Missing Values

In [13]:
# Drop columns with more than 40% missing values
train_data = train.drop(columns=missing_train[missing_train > 0.40 * len(train)].index)
test_data = test.drop(columns=missing_test[missing_test > 0.40 * len(test)].index)

In [14]:
# Impute missing values in the remaining columns with their respective means
train_data.fillna(train_data.mean(), inplace=True)
test_data.fillna(test_data.mean(), inplace=True)

In [15]:
# Replace infinity values with NaN
train_data.replace([np.inf, -np.inf], np.nan, inplace=True)
test_data.replace([np.inf, -np.inf], np.nan, inplace=True)

# Fill NaN values with the mean of each column
train_data.fillna(train_data.mean(), inplace=True)
test_data.fillna(test_data.mean(), inplace=True)

In [16]:
# Load cleaned data
clean_train_data = pd.read_csv("Resources/clean_train_data.csv")
clean_test_data = pd.read_csv("Resources/clean_test_data.csv")

In [17]:
# from sklearn.preprocessing import LabelEncoder

# # Identify categorical columns
# categorical_columns = X_train.select_dtypes(include=['object']).columns

# # Apply label encoding
# for col in categorical_columns:
#     le = LabelEncoder()
#     le.fit(pd.concat([X_train[col], X_val[col], test_data[col]]))
#     X_train[col] = le.transform(X_train[col])
#     X_val[col] = le.transform(X_val[col])
#     test_data[col] = le.transform(test_data[col])

In [18]:
# X_train.to_csv("Resources/X_train.csv", index=False)
# X_val.to_csv("Resources/X_val.csv", index=False)
# y_train.to_csv("Resources/y_train.csv", index=False)
# y_val.to_csv("Resources/y_val.csv", index=False)
# test_data.to_csv("Resources/test_data.csv", index=False)

In [19]:
# from sqlalchemy import create_engine
# # Create an SQLite database
# engine = create_engine('postgresql://postgres:3720@localhost:5432/Fraud-detection')

In [20]:

# # Insert the data into the database
# X_train.to_sql('X_train', engine, if_exists='replace', index=False)
# X_val.to_sql('X_val', engine, if_exists='replace', index=False)
# y_train.to_sql('y_train', engine, if_exists='replace', index=False)
# y_val.to_sql('y_val', engine, if_exists='replace', index=False)
# test_data.to_sql('test_data', engine, if_exists='replace', index=False)

In [21]:
# # Split data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(train_data.drop(columns=["isFraud"]), train_data["isFraud"], test_size=0.2, random_state=42)

In [22]:
# # Label encode categorical variables
# le = LabelEncoder()
# categorical_cols = ["ProductCD", "card4", "card6", "P_emaildomain", "R_emaildomain"]
# for col in categorical_cols:
#     X_train[col] = le.fit_transform(X_train[col].astype(str))
#     X_test[col] = le.transform(X_test[col].astype(str))

#### Step 6:Save cleaned data to new CSV files

In [23]:
# # Save cleaned data to new CSV files
# X_train.to_csv("Resources/clean_train_data.csv", index=False)
# X_test.to_csv("Resources/clean_test_data.csv", index=False)

In [24]:
# # Save cleaned data to the SQLite database
# train_data.to_sql('clean_train_data', engine, index=False, if_exists='replace')
# test_data.to_sql('clean_test_data', engine, index=False, if_exists='replace')