In [5]:
pip install tables

Collecting tables
  Downloading tables-3.7.0-cp37-cp37m-win_amd64.whl (6.8 MB)
Requirement already satisfied: packaging in c:\users\khans\anaconda3\envs\pythondata\lib\site-packages (from tables) (21.3)
Collecting numexpr>=2.6.2
  Downloading numexpr-2.8.4-cp37-cp37m-win_amd64.whl (92 kB)
Requirement already satisfied: numpy>=1.19.0 in c:\users\khans\anaconda3\envs\pythondata\lib\site-packages (from tables) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\khans\anaconda3\envs\pythondata\lib\site-packages (from packaging->tables) (2.4.7)
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.8.4 tables-3.7.0
Note: you may need to restart the kernel to use updated packages.

# Save data to H5 file

In [1]:
import pandas as pd

In [2]:
# Load cleaned data
clean_train_data = pd.read_csv("Resources/clean_train_data.csv")
clean_test_data = pd.read_csv("Resources/clean_test_data.csv")

In [3]:
# Save cleaned data to a new h5 file
clean_train_data.to_hdf("clean_data.h5", key="train", mode="w")
clean_test_data.to_hdf("clean_data.h5", key="test", mode="a")

C:\Users\khans\anaconda3\envs\pythonData\lib\site-packages\pandas\core\generic.py:2505: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['ProductCD', 'card4', 'card6', 'P_emaildomain', 'M1', 'M2', 'M3', 'M4',
       'M6'],
      dtype='object')]

  encoding=encoding,
C:\Users\khans\anaconda3\envs\pythonData\lib\site-packages\pandas\core\generic.py:2505: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->Index(['ProductCD', 'card4', 'card6', 'P_emaildomain', 'M1', 'M2', 'M3', 'M4',
       'M6', 'M7', 'M8', 'M9'],
      dtype='object')]

  encoding=encoding,

In [4]:
# Load the training data
train_data = pd.read_hdf("clean_data.h5", key="train")
print(train_data.head())

   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  \
0        2987000        0          86400            68.5         W  13926
1        2987001        0          86401            29.0         W   2755
2        2987002        0          86469            59.0         W   4663
3        2987003        0          86499            50.0         W  18132
4        2987004        0          86506            50.0         H   4497

        card2  card3       card4  card5  ...   V312  V313  V314 V315  V316  \
0  362.555488  150.0    discover  142.0  ...    0.0   0.0   0.0  0.0   0.0
1  404.000000  150.0  mastercard  102.0  ...    0.0   0.0   0.0  0.0   0.0
2  490.000000  150.0        visa  166.0  ...    0.0   0.0   0.0  0.0   0.0
3  567.000000  150.0  mastercard  117.0  ...  135.0   0.0   0.0  0.0  50.0
4  514.000000  150.0  mastercard  102.0  ...    0.0   0.0   0.0  0.0   0.0

     V317   V318  V319  V320  V321
0   117.0    0.0   0.0   0.0   0.0
1     0.0    0.0   0.0   0.0   0.0
2     0.0    0.0   0.0   0.0   0.0
3  1404.0  790.0   0.0   0.0   0.0
4     0.0    0.0   0.0   0.0   0.0

[5 rows x 220 columns]

In [5]:
# Load the test data
test_data = pd.read_hdf("clean_data.h5", key="test")
print(test_data.head())

   TransactionID  TransactionDT  TransactionAmt ProductCD  card1  card2  \
0        3663549       18403224           31.95         W  10409  111.0
1        3663550       18403263           49.00         W   4272  111.0
2        3663551       18403310          171.00         W   4476  574.0
3        3663552       18403310          284.95         W  10989  360.0
4        3663553       18403317           67.95         W  18018  452.0

   card3       card4  card5  card6  ...       V312        V313        V314  \
0  150.0        visa  226.0  debit  ...   0.000000    0.000000    0.000000
1  150.0        visa  226.0  debit  ...  77.000000    0.000000    0.000000
2  150.0        visa  226.0  debit  ...   0.000000    0.000000    0.000000
3  150.0        visa  166.0  debit  ...   0.000000  282.540009  282.540009
4  150.0  mastercard  117.0  debit  ...  67.949997   67.949997  183.850006

         V315  V316  V317  V318  V319   V320  V321
0    0.000000   0.0   0.0   0.0   0.0    0.0   0.0
1    0.000000   0.0   0.0   0.0   0.0    0.0   0.0
2    0.000000   0.0   0.0   0.0   0.0  263.0   0.0
3  282.540009   0.0   0.0   0.0   0.0    0.0   0.0
4   67.949997   0.0   0.0   0.0   0.0    0.0   0.0

[5 rows x 223 columns]